<menu>
	<net>
		<entry>
			<label>_RSS</label>
			<exec>getrss</exec>
			<icon>/home/tadzik/.icons/rss.png</icon>
		</entry>
		<entry>
			<label>_Skype</label>
			<exec>skype</exec>
			<icon>/home/tadzik/.icons/skype.png</icon>
		</entry>
		<entry>
			<label>r_torrent</label>
			<exec>urxvt -T rtorrent -e rtorrent</exec>
			<icon>/home/tadzik/.icons/torrent.png</icon>
		</entry>
		<entry>
			<label>_wicd (Gtk)</label>
			<exec>wicd-client</exec>
			<icon>/usr/share/icons/hicolor/128x128/apps/wicd-gtk.png</icon>
		</entry>
	</net>
	<text>
		<entry>
			<label>g_vim</label>
			<exec>gvim</exec>
			<icon>/home/tadzik/.icons/vim.png</icon>
		</entry>
		<entry>
			<label>e_pdfview</label>
			<exec>epdfview</exec>
			<icon>/home/tadzik/.icons/pdf.png</icon>
		</entry>
	</text>
	<graphics>
		<entry>
			<label>Gee_qie</label>
			<exec>geeqie</exec>
			<icon>/usr/share/pixmaps/geeqie.png</icon>
		</entry>
		<entry>
			<label>_Gimp</label>
			<exec>gimp</exec>
			<icon>/home/tadzik/.icons/gimp.png</icon>
		</entry>
	</graphics>
	<system>
		<entry>
			<label>_Mounter</label>
			<exec>mounter</exec>
			<icon>/home/tadzik/.icons/storage.png</icon>
		</entry>
		<entry>
			<label>W_ylacznik</label>
			<exec>wylacznik</exec>
			<icon>/home/tadzik/.icons/shutdown.png</icon>
		</entry>
	</system>
</menu>
